body {
    font-family: 'Courier New', Courier, monospace;
    color: #023047;
    margin: 0 0 0 245px;
    text-align: center;
    background-color: #d6e5f0;
}

header {
    padding: 20px;
    text-align: center;
}
  
header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #023047;
}

a {
    text-decoration: none;
    color: #023047;
    padding-left: 10px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-left: 15px;
}

.description {
    font-size: 22px;
    color: #023047;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
}

.sidenav { 
    width: 230px;
    height: 100%;
    background-color: #023047;
    top: 0;
    left: 0;
    padding-top: 20px;
    position: fixed;
    box-sizing: border-box;
}

.white {
    color: white;
}

.bigger {
    font-size: 24px;
}

.my_button_container {
    display: flex;
    gap: 2em;  
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 120px;
    box-sizing: border-box;
}

.my_button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 20px 20px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px 15px;
    white-space: normal;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.my_button:hover {
    background-color: #2980b9;
    color: white;
}

.blue {
    color: #219ebc;
}
