body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Helvetica, Arial, sans-serif;
}

/* I used chatgpt for this mainwrapper code here and where to place it in my HTML */
.main_wrapper {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em
}

.title_center {
    text-align: center;
    font-size: 2.25em;
    padding: 20px 10px;
    background-color: rgb(37, 37, 245);
    color: white;
    width: 100%;
}

.my_button_container {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.my_button {
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1 1 100px;
    transition: background 0.3s ease
}
.my_button_1 {
    background-color: rgb(142, 202, 230);
}
.my_button_2 {
    color: rgb(33, 158, 188);
}
.my_button_3 {
    color: 	rgb(2, 48, 71);
}
.my_button_1:hover, .my_button_2:hover, .my_button_3:hover {
    color: gray;
}
