html, body {
    height: 100%;
}

body {
    margin: 0 0 0 245px;
    padding: 10px;
    text-align: center;
    background-color: #d6e5f0;
    font-family: 'Courier New', Courier, monospace;
}

.mainwrapper {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

ul.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 230px;
    background-color: #023047;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
}

ul.sidenav li {
    margin-bottom: 5px;
}

ul.sidenav li a {
    display: inline-block;    
    color: white;
    text-align: center;
    background-color: #3498db;
    padding: 12px 20px;
    border-radius: 4px;
    margin: 5px 15px;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
}

ul.sidenav li a:hover {
    background-color: #2980b9;
    color: white;
}


h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.blue {
    color: #219ebc;
}

.bwhite {
    color: white;
    font-size: 24px;
}


table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}


a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #023047;
    padding-left: 10px;
}
