Requirements Document for Web App and Wireframes:

Names: Sean Lyons and Matvei Keshkekian

Description of Data: This dataset covers comprehensive data of all tsunami and waves since 2000BC, covering its cause, magnitude, 
intensity, location, and observed impacts, like fatalities, economic damages, as well as other things. This dataset would be valuable 
for researchers, engineers, and tsunami warning centers. Like the amount of information provided for consequences of each tsunami.

You can find the data for this webpage at the following link:
https://www.kaggle.com/datasets/noaa/seismic-waves?select=sources.csv

User Story 1:
A real estate investement group is interested in seeing the history of the real-estate destruction from tsunami or earthquake in Bangkok, Thailand so that they can decide whether it is smart to invest money in real estate in that area.

Implementation 1: One way to implement this would be to have a world map from where you can choose on the country and the specific area that you are interesred in. From which the user can select the date frame of the area they are interested in and see the statistics such as: amount of occurances of tsunamis, amount of houses destroyed and their estimated damage value.

User Story 2:

Implementation 2:

