<!DOCTYPE html>
<html>
<head>
    <title>Tsunami API reference</title>
</head>
<body>
    <pre>
Tsunami API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    A greeting from this API to you.

REQUEST: /help
RESPONSE:
    This help page.

REQUEST: /tsunamis
RESPONSE:
    A list of the most recent 10 tsunamis with all available fields.

REQUEST: /tsunamis/country_name?country={COUNTRY_NAME}
RESPONSE:
    A list of all recorded tsunamis in the specified country.

REQUEST: /tsunamis/id?id={WAVE_ID}
RESPONSE:
    Detailed information about the tsunami with the given wave ID.

REQUEST: /tsunamis/years?start_year={YEAR}&end_year={YEAR}
RESPONSE:
    A list of all tsunamis that occurred between the specified years (inclusive).

REQUEST: /tsunamis/country_years?country={COUNTRY_NAME}&start_year={YEAR}&end_year={YEAR}
RESPONSE:
    A list of all tsunamis in the specified country between the given years.

REQUEST: /tsunamis/all_ids
RESPONSE:
    A list of all tsunami IDs in the database.

REQUEST: /tsunamis/all_countries
RESPONSE:
    A list of all countries with recorded tsunamis.
    </pre>
</body>
</html>