<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tsunami Tracker</title>
    <link rel="stylesheet" href="../static/homepage.css" />
    <script src="../static/homepage.js"></script>
    <link rel="shortcut icon" href="../static/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <header>
    <h1 class="blue">TsunamiArchive</h1>
  </header>
    <p class="description">
      Welcome to <strong>TsunamiArchive</strong> — a powerful tool for exploring historical tsunami data from around the world. 
      Whether you're a researcher, student, or just curious, you can search events by year, country, or specific identifiers. 
      Use our interactive <a href="webapp/templates/world_map.html"><strong>map view</strong></a> to locate tsunamis geographically, 
      or switch to the <a href="webapp/templates/search_list.html"><strong>list view</strong></a> for detailed filtering and sorting options. 
      Discover patterns, analyze impact data, and gain insights into some of the most powerful forces of nature.
    </p>
    
    <div class="sidenav">
      <a href="homepage.html" class="white bigger space">TsunamiArchive</a> 
      <div class = "my_button_container">
        <button class="my_button" id = "tsunami_search_button" onclick = "SendtoPage('webapp/templates/search_list.html')">Search By List</button>
        <button class="my_button" id = "world_map" onclick = "SendtoPage('webapp/templates/world_map.html')">Search By Map</button>
      </div>
    </div>
  </body>
</html>

