<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Tsunami Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}" />
  <script src="{{ url_for('static', filename='homepage.js') }}"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <body>
  <header>
    <h1 class="blue">TsunamiArchive</h1>
  </header>
    <p class="description">
      Welcome to <strong>TsunamiArchive</strong> — a powerful tool for exploring tsunami data worldwide.<br><br>
      What you can do:
      <ul style="text-align:left; max-width: 700px; margin: 0 auto; font-size: larger;">
        <li>Search tsunamis by <strong>year</strong>, <strong>country</strong>, or specific identifiers<br> </li>
        <!-- <li>Use the interactive <a href="{{ url_for('world_map') }}"><strong>map view</strong></a> to explore tsunamis geographically</li> -->
        <li>You can search with a detailed filter and sort</li>
        <li>Get detailed info about every tsunami from 2000BC to 2023</li>
        <li>Discover patterns, analyze impact data, and gain insights into these powerful natural forces</li>
      </ul>
    </p>
    <div class="sidenav">
      <a class="white bigger">TsunamiArchive</a>
      <div class = "my_button_container">
<a href="{{ url_for('search_list') }}">
    <button class="my_button" id="tsunami_search_button">Search By List</button>
</a>
<!-- <a href="{{ url_for('world_map') }}">
    <button class="my_button" id="world_map">Search By Map</button>
</a> -->
      </div>
    </div>
  </body>
</html>

