<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='tsunamis.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>
<body>
  <div class="main_wrapper">
    <h1 class="title_center">TSUNAMI TRACKER MAIN MENU</h1>

    <input type="text" id="tsunami_search_input" placeholder="Enter year...">
    <button id="tsunami_search_button">Search</button>

    <p><table id="results_table"></table></p>


    <div class="sidenav_container">
        <a href="#search" class="sidenav centerleft_sidenav">SEARCH TSUNAMIS BY QUERY</a>
        <a href="#map" class="sidenav center_sidenav">MAP SEARCH</a>
        <a href="#help" class="sidenav centerright_sidenav">HELP AND INFO</a>
  </div>
</body>
</html>
