<!DOCTYPE html>
<html>
    <head>
        <title>Tsunami mockups</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/index.css">
    </head>

    <body>
        <h2>Tsunami Mockups</h2>
        <p>These are the mockups for the Tsunami Search web application. The mockups are designed to provide a visual representation of the application's user interface and functionality.</p>
        <p>By Sean Lyons and Matvei Keshekian, May 2025</p>
            <p>homepage - home page</p>
            <p>search_list - search page with hypothetical list for 2002</p>
            <p>tsunami_info - result of a search</p>
            <p>world_map - map search</p>

        <ul>
            <li><a href="homepage.html" target="_blank" rel="noopener noreferrer">homepage.html</a>,
                <a href="../static/homepage.css" target="_blank" rel="noopener noreferrer">homepage.css</a>,
            <li><a href="search_list.html" target="_blank" rel="noopener noreferrer">search_list.html</a>,
                <a href="../static/search_list.css" target="_blank" rel="noopener noreferrer">search_list.css</a>,
                <a href="../static/search_list.js" target="_blank" rel="noopener noreferrer">search_list.js</a></li>
            <li><a href="tsunami_info.html" target="_blank" rel="noopener noreferrer">tsunami_info.html</a>,
                <a href="../static/tsunami_info.css" target="_blank" rel="noopener noreferrer">tsunami_info.css</a>,
                <a href="../static/tsunami_info.js" target="_blank" rel="noopener noreferrer">tsunami_info.js</a></li>
            <li><a href="world_map.html" target="_blank" rel="noopener noreferrer">world_map.html</a>,
                <a href="../static/world_map.css" target="_blank" rel="noopener noreferrer">world_map.css</a>,
                <a href="../static/world_map.js" target="_blank" rel="noopener noreferrer">world_map.js</a></li>
        </ul>
    </body>
</html>
