<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tsunami Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mockup1.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='mockup1.js') }}" ></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
</head>
<body>
  <div class="main_wrapper">
    <h1 class="title_center">TSUNAMI ARCHIVE MAIN MENU</h1>

    <div class = "my_button_container">
      <button class="my_button" id = "tsunami_search_button" onclick = "SendtoPage('search')">Search By List Page</button>
      <button class="my_button" id = "world_map" onclick = "SendtoPage('map')">Search By Map Page</button>
      <button class="my_button" id = "tsunami_help" onclick = "SendtoPage('help')">Help Page</button>
    </div>
  </div>
</body>
</html>

