<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="mockup3.css" type="text/css" />
    <title>Seach Result</title>
</head>

<body>
    <div class="mainwrapper">

    <ul class="sidenav">    
        <a href="#home" class="bwhite">TsunamiArchive</a>
        <li><a href="#back">Back</a></li>
        <li><a href="#search">Search</a></li>
    </ul>
    <h1 class="blue">Tsunami/Wave Info Table</h1>
    <table>
    <!-- <tr><th></th><th>Antlers?</th> -->
    <tr><td>Source ID</td><td>No</td>
    <tr><td>Wave ID</td><td>Yes</td>
    <tr><td>Region Code</td><td>No</td> 
    <tr><td>Country</td><td>No</td>    
    <tr><td>State</td><td>No</td>  
    <tr><td>Location</td><td>No</td>    
    <tr><td>Latitude</td><td>No</td>    
    <tr><td>Longtitude</td><td>No</td>     
    <tr><td>Year</td><td>No</td>    
    <tr><td>Month</td><td>No</td>    
    <tr><td>Day</td><td>No</td>     
    <tr><td>Distance from Source</td><td>No</td>    
    <tr><td>Travel Time (Hours)</td><td>No</td>    
    <tr><td>Travel Time (Minutes)</td><td>No</td>    
    <tr><td>Validity</td><td>No</td>    
    <tr><td>Measurement Type</td><td>No</td>    
    <tr><td>Period</td><td>No</td>    
    <tr><td>First Motion</td><td>No</td>    
    <tr><td>Maximum Height</td><td>No</td>    
    <tr><td>Horizontal Innudation</td><td>No</td>    
    <tr><td>Injutries</td><td>No</td>  
    <tr><td>Injuries Estimate</td><td>No</td>    
    <tr><td>Fatalities</td><td>No</td>    
    <tr><td>Fatality Estimate</td><td>No</td>    
    <tr><td>Damage Millions USD</td><td>No</td>    
    <tr><td>Damage Millions Estimate</td><td>No</td>    
    <tr><td>Houses Damaged</td><td>No</td>    
    <tr><td>Houses Damaged Estimate</td><td>No</td>    
    <tr><td>Houses Destroyed</td><td>No</td>    
    <tr><td>Houses Destroyed Estimate</td><td>No</td> 

    </div>

</body>
</html>
