<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='world_map.css') }}" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js" defer></script>


    <scrpt scr="{{ url_for('static', filename='datamaps.world.min.js') }}" defer></script>
    
    <script src="{{ url_for('static', filename='world_map.js') }}" defer></script>

    <title>Map</title>
</head>
<body>
  <header>
    <h1 class="blue">Tsunami Archive Map Search</h1>
    <p>Search for tsunamis by country on the map.<br>Click on the country that you are interested about!</p>
  </header>

  <div id="map-container"></div>
 
  <div class="sidenav"> 
    <a href="{{ url_for('homepage') }}" class="white bigger">TsunamiArchive</a>
    <p class="blue">Filter Tsunamis:</p>
    <form action="/search" method="get">
        <p for="year" class="white smaller">Year:</p>
        <input type="number" id="year" name="year" placeholder="e.g., 2004" />
        <p for="Casualties" class="white smaller">Casualties:</p>
        <input type="number" id="casualties" name="casualties" placeholder="e.g., 100" />
        <input class="button" type="submit" value="Filter" />
    </form>
    <p class="blue">Marker Parameters:</p>
    <form id="marker-params-form">
        <p class="white smaller" for="marker-radius">Marker Radius (km):</p>
        <input type="number" id="marker-radius" name="radius" placeholder="e.g., 100" min="0" />
        <p class="white smaller" for="Max Tsunamis Retrieved">Max Tsunamis Retrieved:</p>
        <input type="number" id="max-tsunamis" name="max-tsunamis" placeholder="e.g., 10" min="1" />
        <input class="button" type="submit" value="Update Marker" />
    </form>
</div>

</body>
